:root{
  --clr-neon: hsla(280, 100%, 50%, 1);
  --clr-bg: hsl(323 21% 16%);
  --clr-green: hsl(120, 100, 50);
}
body {
  margin: 0;
  background-color: hsla(0, 0%, 7%, 1) ;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.button-wrapper {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  justify-items: center; 
  gap: 10px; 
}

.button-wrapper-for-one-button {
  width: auto;
  margin-inline: auto;
  color:white;
  font-size:1.3em;
  margin-top:50px;
  position:relative;
  background: transparent;
}

.button-neon-styled{
  font-size:2rem;

  background-color: var(--clr-bg);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;

  box-shadow: 
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon) ;

  transition: background-color 100ms linear;
}

.button-neon-styled::before {
  pointer-events:none;
  content: "";
  position:absolute;
  background: var(--clr-neon);
  
  top:120%;
  left:0;
  width:100%;
  height:100%;

  transform: 
    perspective(1em) 
    rotateX(40deg)
    scale(1, 0.35);

  filter: blur(1em);
  opacity: 0.7;
}

.button-neon-styled:after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon); 
  opacity:0;
  transition: opacity 100ms linear;
}

.button-neon-styled:hover,
.button-neon-styled:focus{
  background: var(--clr-neon);
  color: white;
  text-shadow: none;
}

.button-neon-styled:hover::before,
.button-neon-styled:focus::before{
  opacity:1;
}
.button-neon-styled:hover::after,
.button-neon-styled:focus::after{
  opacity:1;
}

.msg-wrapper{
  width: auto;
  margin-inline: auto;
  font-size:1.3em;
  position:relative;
  background: transparent;
}

.neon-msg{
  font-size:3rem;

  pointer-events:none;
  display: inline-block;
  text-decoration: none;
  color: yellowgreen;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;

  transition: background-color 100ms linear;
}

.neon-msg::before {
  pointer-events:none;
  content: "";
  position:absolute;
  background: yellowgreen;
  
  top:-50%;
  left:0;
  width:100%;
  height:100%;

  transform: 
    perspective(1em) 
    rotateX(-40deg)
    scale(1, 0.35);

  filter: blur(1em);
  opacity: 0.7;
}
